* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #121212;
}
.loading {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #121212;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 30%;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.musicplayer {
  min-width: 400px;
  max-width: 400px;
  border-radius: 10px;
  height: 600px;
  padding: 25px 35px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}
.playlists {
  min-width: 400px;
  max-width: 400px;
  height: 600px;
  display: none;
  flex-direction: column;
  /* From https://css.glass */
  background-color: aliceblue;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.021);
  color: aliceblue;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-y: auto;
}
.items::-webkit-scrollbar {
  width: 15px;
  background-color: aliceblue;
}
.items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: aqua;
}

.music {
  display: flex;
  background-color: #121212;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  gap: 20px;
}
.music:hover {
  opacity: 0.8;
}
.musicimg {
  width: 30%;
}
.musicimg img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
}
.musictitle {
  font-size: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.musictitle:hover {
  color: aqua;
}
.musictop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow,
.playlist {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #121212;
  line-height: 40px;
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.musicbackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.rotanime {
  animation: rotate 5s linear infinite;
  animation-delay: 0.5s;
}
.play {
  animation-play-state: start;
}
.stop {
  animation-play-state: paused;
}
.musicbackground img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 6px solid aqua;
  object-fit: cover;
}
.musicname {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.musicname > h1 {
  font-size: 2.08rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.musicname > h2 {
  font-size: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.musicrange {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.musicrange input {
  -webkit-appearance: none;
  width: 100%;
  background-color: aqua;
  border: 4px;
  cursor: pointer;
  height: 7px;
  border-radius: 15px;
}
.musicrange input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: antiquewhite;
  border: 2px double aquamarine;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.musicbuttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.musicbuttons > i {
  font-size: 2.08rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #121212;
  line-height: 40px;
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.musicbuttons > i:nth-of-type(1),
.musicbuttons > i:nth-of-type(4) {
  font-size: 1.08rem;
  width: 50px;
  height: 50px;
}

/* -----------------------------------------------------animition */
/* ----------------------------------------------
* Generated by Animista on 2023-3-15 16:4:10
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-right
* ----------------------------------------
*/
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(205px);
  }
}

/* ----------------------------------------------
* Generated by Animista on 2023-3-15 15:59:58
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-left
* ----------------------------------------
*/
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-200px);
  }
}
/* -----------------------------------------------------animition */
/* ----------------------------------------------
* Generated by Animista on 2023-3-15 16:4:10
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-right
* ----------------------------------------
*/

@keyframes ssright {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(0px);
  }
}

/* ----------------------------------------------
* Generated by Animista on 2023-3-15 15:59:58
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-left
* ----------------------------------------
*/

@keyframes ssleft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(-200px);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(0px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* media start */
@media (width < 800px) {
  .musicname > h1 {
    font-size: 1.09rem;
  }
  .musicplayer {
    min-width: 350px;
  }
  .playlists {
    min-width: 350px;
  }
  .container {
    margin: 20px;
    height: unset;
    flex-direction: column;
  }
  .musicplayer {
    margin-bottom: 0;
    border-radius: 0;
  }
}

@media (width > 800px) {
  .playlists {
    position: absolute;
  }
  .slide-left {
    z-index: 2;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      both;
    animation: slide-left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
  .slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      both;
    animation: slide-right 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
  .ssleft {
    z-index: 2;
    -webkit-animation: ssleft 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
    animation: ssleft 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
  .ssright {
    -webkit-animation: ssright 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
    animation: ssright 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
}
